/* Referred to https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_calendar as reference*/

/* {box-sizing: border-box;}*/
ul {list-style-type: none;}
li {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

h3 {
  text-align: center;
}

#otherMonths {
  /*color: white;*/
  font-size: 20px;
  
  /*text-transform: uppercase;
  letter-spacing: 3px;*/
}

#otherMonths #prev {
  float: left;
}

#otherMonths #next {
  float: right;
}


#demoMonthandYear {
  text-align: center;
  font-size: 20px;
  /*color: #676;*/
}


#demoWeekdays{
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

#demoWeekdays li{
  display: inline-block;
  background: #fc7d74;
  width: 13.6%;
  border-radius: 4px;
  color: white;
  padding: 6px 0px;
}

#demoDays {
  margin: 0;
  padding: 10px 0;
  background: #68dfd5;
  text-align: center;
  border-radius: 12px;
}

#demoDays li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 7px;
  /*font-size:12px;*/
  /*color: #777;*/
}

#demodays li .active {
  padding: 5px;
  background: #d0c;
  color: rgb(96, 74, 190) !important
}

.month {
  /* padding: 70px 25px; */
  width: 100%;
  background: #1abc9c;
  text-align: center;
  border-radius: 12px;
}

.month div {
  margin: 0;
  padding: 0;
}

.month div div {
  /*color: white;*/
  font-size: 20px;
  /*text-transform: uppercase;
  letter-spacing: 3px;*/
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  /*background-color: #ddd;*/
  text-align: center;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  /* color: #676; */
  
}

.days {
  margin: 0;
  padding: 10px 0;
  background: #eee;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  /*margin-bottom: 5px;*/
  /*font-size:12px;*/
  /*color: #777;*/
}

.days li .active {
  padding: 5px;
  background: rgba(213, 132, 233, 0.8);
  color: white !important
}

.button{
  background-color: white;
  font-size:  14px;
  padding: 5px 15px;
  border: 2px solid #fc7d74;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover{
  background-color:#fc7d74;
  color: white;
}

.logout{
  background-color: white;
  font-size:  14px;
  padding: 5px 15px;
  border: 2px solid #68dfd5;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.logout:hover{
  background-color: red;
  border-color: red;
  color: white;
}

.event{
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  width:100%;
  background:#fc7d74;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.event{
  padding: 4px 0px;
  background: rgb(211, 100, 100);
  border-radius: 12px;
  
}
.description{
  font-size: 13px; 
}